In [16]:
import pandas as pd
import numpy as np

In [3]:
df=pd.read_csv("train_master.csv")

,Train No,Train Name,SEQ,Station Code,Station Name,Arrival time,Departure Time,Distance,Source Station,Source Station Name,Destination Station,Destination Station Name
0,107,SWV-MAO-VLNK,1,SWV,SAWANTWADI R,00:00:00,10:25:00,0,SWV,SAWANTWADI ROAD,MAO,MADGOAN JN.
1,107,SWV-MAO-VLNK,2,THVM,THIVIM,11:06:00,11:08:00,32,SWV,SAWANTWADI ROAD,MAO,MADGOAN JN.
2,107,SWV-MAO-VLNK,3,KRMI,KARMALI,11:28:00,11:30:00,49,SWV,SAWANTWADI ROAD,MAO,MADGOAN JN.
3,107,SWV-MAO-VLNK,4,MAO,MADGOAN JN.,12:10:00,00:00:00,78,SWV,SAWANTWADI ROAD,MAO,MADGOAN JN.
4,108,VLNK-MAO-SWV,1,MAO,MADGOAN JN.,00:00:00,20:30:00,0,MAO,MADGOAN JN.,SWV,SAWANTWADI ROAD

In [18]:
df.dtypes

Train No                     int64
Train Name                  object
SEQ                          int64
Station Code                object
Station Name                object
Arrival time                object
Departure Time              object
Distance                     int64
Source Station              object
Source Station Name         object
Destination Station         object
Destination Station Name    object
dtype: object

# Creating a table to store train number and their respective names, along with source and destination stations

In [10]:
table1 = df.filter(["Train No","Train Name","Source Station","Destination Station"])
# dropping duplicate values
table1=table1.drop_duplicates().reset_index(drop = True)
table1

       Train No    Train Name Source Station Destination Station
0           107  SWV-MAO-VLNK            SWV                 MAO
1           108  VLNK-MAO-SWV            MAO                 SWV
2           128  MAO-KOP SPEC            MAO                 KOP
3           290  PALACE ON WH            DSJ                 DSJ
4           401  BSB BHARATDA            AWB                 BSB
...         ...           ...            ...                 ...
11107     99904  PUNE-TGN EMU           PUNE                 TGN
11108     99905           EMU            TGN                SVJR
11109     99906           EMU           PUNE                 TGN
11110     99907           EMU            TGN                PUNE
11111     99908           EMU           PUNE                 TGN

[11112 rows x 4 columns]

In [14]:
# storing as a csv file
table1.to_csv("train.csv",index=False)

# creating a table to store station code and station name

In [11]:
table2 = df.filter(["Station Code","Station Name"])
# dropping duplicate values
table2=table2.drop_duplicates().reset_index(drop = True)
table2

     Station Code  Station Name
0             SWV  SAWANTWADI R
1            THVM        THIVIM
2            KRMI       KARMALI
3             MAO   MADGOAN JN.
4            KUDL         KUDAL
...           ...           ...
8143         VDLR  MUMBAI VADAL
8144         BEPR  BELAPUR C.B.
8145         MNKD      MANKHURD
8146         CMBR       CHEMBUR
8147          NEU         NERUL

[8148 rows x 2 columns]

In [15]:
# storing as csv
table2.to_csv("station.csv",index=False)

# creating a table with halt timings

In [75]:
table3=df.filter(["Train No","Station Code","Arrival time","Departure Time","Source Station","Destination Station"])
halts=[]
for ind,row in table3.iterrows():
    dh,dm,dse = row["Departure Time"].split(":")
    ah,am,ase = row["Arrival time"].split(":")
    hh=0;hm=0
    if row["Station Code"]==row["Destination Station"]:
       hm=120
    if row["Station Code"]==row["Source Station"]:
        hm = 120
    else:
        if(int(dh)<int(ah)):
            hh=24-int(ah)+int(dh)
            if(int(am)>int(dm)):
                hm=60-int(am)+int(dm)
                hh=hh-1
            else:
                hm=int(dm)-int(am)
        else:
            hh=int(dh)-int(ah)
            if(int(am)>int(dm)):
                hm=60-int(am)+int(dm)
                hh=hh-1
            else:
                hm=int(dm)-int(am)
    halt=hh*60+hm
    halts.append(halt)
table3["Halt"]=halts
# table3 = table3.drop(columns = ["Arrival time","Departure Time","Source Station","Destination Station"],axis = 1)
table3

,Train No,Station Code,Arrival time,Departure Time,Source Station,Destination Station,Halt
0,107,SWV,00:00:00,10:25:00,SWV,MAO,625
1,107,THVM,11:06:00,11:08:00,SWV,MAO,2
2,107,KRMI,11:28:00,11:30:00,SWV,MAO,2
3,107,MAO,12:10:00,00:00:00,SWV,MAO,710
4,108,MAO,00:00:00,20:30:00,MAO,SWV,1230
...,...,...,...,...,...,...,...
186114,99908,AKRD,23:30:00,23:31:00,PUNE,TGN,1
186115,99908,DEHR,23:35:00,23:36:00,PUNE,TGN,1
186116,99908,BGWI,23:39:00,23:40:00,PUNE,TGN,1
186117,99908,GRWD,23:41:00,23:42:00,PUNE,TGN,1
186118,99908,TGN,23:50:00,00:00:00,PUNE,TGN,10

In [73]:
# storing as csv
table3.to_csv("halts.csv",index=False)

# table of stations where the train arrives at midnight

In [69]:
table4 = df.filter(["Train No","Station Code","Arrival time","Destination Station"])
table4=table4[(table4["Station Code"]==table4["Destination Station"]) & (df["Arrival time"]=="00:00:00")]
# we do not require the columns destination station and arrival time
table4=table4.drop(columns=["Arrival time","Destination Station"])
table4

        Train No Station Code
79483      34752         LKPR
94284      40153          TBM
95791      40572          MSB
155425     64483          UMB

In [70]:
# saving as csv
table4.to_csv("midnight.csv",index=False)

# storing all stops of a train to find path

In [57]:
table5 = df.filter(["Train No","Station Code","SEQ"])
table5

        Train No Station Code  SEQ
0            107          SWV    1
1            107         THVM    2
2            107         KRMI    3
3            107          MAO    4
4            108          MAO    1
...          ...          ...  ...
186114     99908         AKRD    8
186115     99908         DEHR    9
186116     99908         BGWI   10
186117     99908         GRWD   11
186118     99908          TGN   12

[186119 rows x 3 columns]

In [62]:
table5.to_csv("stops.csv",index=False)